.title {
}

.title img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.title h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
}

.title p {
  text-align: center;
}

.login-form {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 280px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
