<!-- title -->

<div class="title">
  <img [src]="logoSrc">
  <h1>Ratya</h1>
  <p>New platform for OSS.</p>
</div>

<!-- form -->

<form nz-form [formGroup]="formGroup" class="login-form" (ngSubmit)="submitForm()">
  <div nz-form-item>
    <div nz-form-control>
      <nz-input
        formControlName="email"
        nzPlaceHolder="メールアドレス"
        nzSize="large">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div
        nz-form-explain
        *ngIf="email.dirty && email.hasError('required')">
        メールアドレスを入力してください
      </div>
      <div
        nz-form-explain
        *ngIf="email.dirty && email.hasError('maxLength')">
        メールアドレスが長過ぎます
      </div>
      <div
        nz-form-explain
        *ngIf="email.dirty && email.hasError('email')">
        メールアドレスが正しくありません
      </div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input
        formControlName="password"
        nzType="password"
        nzPlaceHolder="パスワード"
        nzSize="large">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div
        nz-form-explain
        *ngIf="password.dirty && password.hasError('required')">
        パスワードを入力してください
      </div>
      <div
        nz-form-explain
        *ngIf="password.dirty && password.hasError('maxLength')">
        パスワードが長過ぎます
      </div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>記憶する</span>
      </label>
      <a class="login-form-forgot">パスワードを忘れた</a>
      <button
        nz-button
        class="login-form-button"
        nzType="primary"
        nzSize="large">
        ログイン
      </button>
      <span>または</span>
      <a routerLink="/new">新しいアカウントを作る</a>
    </div>
  </div>
</form>

<!-- updates -->

<div class="update">
  <nz-card>
    <nz-timeline>
      <ng-template #title>
        アップデート
      </ng-template>
      <ng-template #extra>
        <a routerLink="/updates">もっとみる</a>
      </ng-template>
      <ng-template #body>
        <nz-timeline-item *ngFor="let update of updates">
          {{update.title}} {{update.date}}
        </nz-timeline-item>
      </ng-template>
    </nz-timeline>
  </nz-card>
</div>
