.ant-layout {
  min-height: 100%;
}

:host >>> .ant-layout,
:host >>> .ant-layout-footer {
  background-color: white;
}

:host >>> .ant-layout-content {
  margin: 0 16px;
}

:host >>> .ant-layout-sider {
  overflow: hidden;
}

:host >>> .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host >>> .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host >>> .ant-layout-sider .anticon {
  font-size: 16px;
  margin-left: 8px;
}

:host >>> .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:host >>> .trigger:hover {
  color: #108ee9;
}

.logo {
  height: 32px;
  background: #404040;
  border-radius: 6px;
  margin: 16px;
}

.logo img {
  display: block;
  width: 36px;
}

.content {
  padding: 16px 0;
}

.copyright {
  text-align: center;
}
