<nz-layout>

  <nz-sider nzCollapsible [nzCollapsed]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <img [src]="logo">
    </div>
    <ul nz-menu [nzTheme]="nzTheme" [nzMode]="nzMode">
      <li *ngFor="let route of routes"
          nz-menu-item
          [routerLink]="route.routerLink"
          routerLinkActive="ant-menu-item-selected"
          [routerLinkActiveOptions]="routerLinkActiveOptions">
        <i class="anticon {{route.icon}}"></i>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content style="margin:0 16px;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">© 2018 Ratya</nz-footer>
  </nz-layout>

</nz-layout>
