.title {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title h1 {
  text-align: center;
}

.ant-card {
  margin-top: 10px;
}

.search {
  padding-top: 20px;
}

.pager {
  padding-top: 10px;
}

.updatedAt {
  text-align: right;
}

:host ::ng-deep .ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

:host ::ng-deep .ant-card-body {
  padding: 0;
}

.images h3 {
  color: #fff;
}

.body {
  padding: 24px;
}

.timeline {
  padding-top: 25px;
}
